pokerDeck/.vs/pokerDeck/DesignTimeBuild/.dtbcache.v2
pokerDeck/.vs/pokerDeck/v16/.suo
pokerDeck/bin/Debug/netcoreapp3.1/pokerDeck.deps.json
pokerDeck/bin/Debug/netcoreapp3.1/pokerDeck.dll
pokerDeck/bin/Debug/netcoreapp3.1/pokerDeck.exe
pokerDeck/bin/Debug/netcoreapp3.1/pokerDeck.pdb
pokerDeck/bin/Debug/netcoreapp3.1/pokerDeck.runtimeconfig.dev.json
pokerDeck/bin/Debug/netcoreapp3.1/pokerDeck.runtimeconfig.json
pokerDeck/obj/pokerDeck.csproj.nuget.dgspec.json
pokerDeck/obj/pokerDeck.csproj.nuget.g.props
pokerDeck/obj/pokerDeck.csproj.nuget.g.targets
pokerDeck/obj/project.assets.json
pokerDeck/obj/project.nuget.cache
pokerDeck/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
pokerDeck/obj/Debug/netcoreapp3.1/apphost.exe
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.AssemblyInfo.cs
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.AssemblyInfoInputs.cache
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.assets.cache
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.csproj.AssemblyReference.cache
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.csproj.CoreCompileInputs.cache
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.csproj.FileListAbsolute.txt
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.dll
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.genruntimeconfig.cache
pokerDeck/obj/Debug/netcoreapp3.1/pokerDeck.pdb
